#root {
	min-height: 100vh;

	display: grid;
	grid-template-rows: auto 1fr;

	gap: 1rem;

	padding: 2rem;
	justify-items: center;
}
/* change scroll bar wight and color */
::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	background: rgb(25, 30, 36);
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(
		180deg,
		rgba(255, 0, 128, 0) 0%,
		rgb(100, 26, 230) 100%
	);
	border-radius: 1rem;
}

/* create a counted number pre for my h2 not first count */

h2::before {
	counter-increment: h2;
	content: counter(h2) ". ";
	color: rgb(100, 26, 230);
	font-size: 1.5rem;
	font-weight: 700;

	margin-right: 0.5rem;
}

.no-count::before {
	counter-increment: none;
	content: none;
}

/* create a counted number pre for my h3 not first count */
